/* 
    Cores complementares
    #2B72C0
    #459FFF
    #2A8FFA
    #AD6E00
    #FAAE2A
*/

.container-index {
    width: 100vw;
    background-color: #FAAE2A;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.background-gif-container {
    width: 90%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.background-gif {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    filter: blur(5px);
}

.gura-gif {
    width: 150px;
    position: absolute;
    left: 100px;
    bottom: 10px;
}

.mini-home {
    border: 2px solid;
    width: 30%;
    height: 250px;
    background-color: #171920;
    border-radius: 10px;
}

.mini-list {
    list-style: none;
}

.mini-list il {
    background-color: white;
    width: 100%;
    height: 32px;
}