/* 
    Cores Gura
    #e3ebed Cabelo
    #7eb2ff Sombra Cabelo
    #2b72c0 Roupa, Rabo
    #fff0e7 Pele
*/

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #34749e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

* {

    margin: 0;
    padding: 0;
    font-family: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
    ;
}

input {
    box-sizing: border-box;
    border: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Index */
/* Primeiro Container */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.complementar-triple-colors {
    background: linear-gradient(-45deg, #385073, #2860B5, #5173A6, #7EB2FF, #C1D6F5);
}


.container-index {
    height: fit-content;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
}

.pattern-dots-regular {
    width: 100%;
    height: 520px;
    background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    color: #e3ebed;
    padding: 10px 10px 30px 100px;
    display: flex;
}

.background-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.background-gif-container {
    width: fit-content;
    height: 70%;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

.background-gif {
    height: 110%;
    padding: 0;
    margin: 0;
    filter: blur(2px);
}

.gura-gif {
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: -18px;
}

.container-index-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 20px 30px;
}

.container-index-title {
    font-size: 29px;
    text-align: center;
}

.paragraph-container {
    width: 92%;
    margin-top: 50px
}

.paragraph {
    font-size: 20px;
    text-align: center;
}

.container-index .container-index-button {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.container-index .container-index-button button {
    /* width: 45%;
    height: 65px;
    border-radius: 30px;
    outline: none;
    background-color: #7eb2ff;
    border: 2px solid #2B72C0;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #d5dfe2;
    font-weight: 600;
     */
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    background-color: rgba(0, 0, 0, 0);
}

.container-index .container-index-button button:hover {
    color: #282828;
    background-color: white;
}

.container-index .container-index-button .login {
    background-color: #2A8FFA;
}

/* Fim Primeiro Container */


.mini-home {
    border: 2px solid;
    width: 30%;
    height: 250px;
    background-color: #171920;
    border-radius: 10px;
}

.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-table {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active,
.reveal-table.active {
    transform: translateY(0px);
    opacity: 1;
}

.mini-ranking {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-ranking-table {
    width: 50%;
    height: 50%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.mini-ranking-table th {
    height: fit-content;
    font-size: 20px;
}

.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
}

.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.left,
.right {
    padding: 5px;
}

.mini-ranking-container {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(.25turn, hsla( 200,10%,30%, .5),hsla(200,10%,30%,0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg") repeat scroll 0% 0%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #e3ebed;
    text-shadow: 2px 2px 0 #000;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 18px black;
    border-radius: 5px;
}
}

.mini-ranking-container .mini-ranking-info-container {
    height: 70px;
}


.mini-ranking-container .mini-ranking-title-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.mini-ranking-container .mini-ranking-title-container img.player-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.mini-ranking-title {
    text-align: center;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

.title-ranking {
    color: #7eb2ff;
    cursor: pointer;
    transition: color .5s ease;
    font-size: 20px;
    width: fit-content;
    margin-left: 10px;
}

.title-ranking:hover {
    color: #FAAE2A;
}

.map-creator {
    font-size: 13px;
}

/* Fim Index */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Menu */
#perfil-menu {
    z-index: 4;
    height: -webkit-fill-available;
    width: 5vw;
    position: fixed;
    background-color: #b7bfd0;
    border-right: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    transition: width 1s ease;
    box-sizing: border-box;
}

.menu-usuario {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    margin-top: 15px;
}

#perfil-menu:hover {
    width: 17vw;
}

#perfil-menu .menu-icon {
    font-size: 28px;
}

#search-user {
    height: 35px;
    width: 90%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 30px;
}

#search-user:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

#search-user::placeholder {
    color: #e3ebed;
    opacity: 0.5;
}

#perfil-menu .search-icon {
    font-size: 20px;
    position: absolute;
    top: 27px;
    left: 14%;
    color: #5B6473;
    transition: left 1.2s ease;
    /*     transition-delay: 0.4s; */
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #484652;
    font-weight: bold;
    font-size: 18px;
}

.nav-bar-item {
    height: 40px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.nav-bar-item:hover {
    background-color: #385073;

}

.nav-bar-item i {
    margin-left: 15px;
}

.nav-bar-name,
.nav-bar-name-opacity {
    margin-left: 10px;
}

.nav-bar-name {
    width: 0px;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: .2s;
}

.nav-bar-name-opacity {
    width: 175px;
    opacity: 1;
}

.here {
    color: #022f55;
    cursor: default;
}

.user-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #73717d;
    font-weight: 500;
}

.user-container i:hover {
    cursor: pointer;
    background-color: #1d1b2e;
}

.user-container #userImg {
    height: 70%;
}

.user-container .user-info {
    width: 0%;
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .4s;
}

.user-container .user-info-show {
    width: 40%;
    opacity: 1;
}

.user-container #username {
    font-size: 18px;
    font-weight: 500;
    color: #5C83BD;
}

.user-container i {
    font-size: 25px;
    padding: 10px;
}

.user-container #global,
.user-container #nacional {
    color: #5B6473;
    font-size: 13px;
}

#logOut {
    color: #9b2525;
}

.user-container .fa-user {
    display: none;
    color: #34749e;
}
/* Mouse em cima Menu*/
#perfil-menu:hover #search-user{
    width: 100%;
}

#perfil-menu:hover .user-info {
    width: 40%;
    opacity: 1;
}

#perfil-menu:hover #search {
    left: 6%;
}

#perfil-menu:hover #home,
#perfil-menu:hover #mapa,
#perfil-menu:hover #ranking,
#perfil-menu:hover #ultimos,
#perfil-menu:hover #login,
#perfil-menu:hover #cadastro {
    margin-left: 10px;
    width: 175px;
    opacity: 1;
}

#perfil-menu:hover #user {
    display: block;
}

/* Fim Menu */
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* Inicio Mapa */
.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: height 1s ease;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.background-image {
    width: 100vw;
}

.banner-img-container {
    width: 50%;
    height: 100%;
}

.mapa-banner {
    height: 100%;
    background-color: #7EB2FF;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.mapa-banner .pattern-dots-regular {
    height: 100%;
    padding: 10px 10px 30px 70px;
    justify-content: center;
}

.container {
    list-style: none;
    width: 900px;
    height: fit-content;
    background-color: #385073;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-list-container {
    list-style: none;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mapa-list-item {
    width: 45%;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;
}

.mapa-list-item.noMargin {
    margin: 0
}

.mapa-list-item .mapa-image {
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.mapa-list-item .mapa-info {
    border-radius: 10px;
    height: 100%;
    width: 76%;
    position: absolute;
    right: 0;
    transition: width 1s cubic-bezier(.14,.66,.67,1.02);
    background: linear-gradient(.25turn, hsla( 200,10%,30%, .5),hsla(200,10%,30%,0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://cdn.scoresaber.com/covers/EDDCA14F0E90F5DA5A2337B8DD2B1EB381771400.png") repeat scroll 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    margin-left: 20%;
    left: 0;
    z-index: 1000;
}

.mapa-list-item:hover .mapa-info{
    width: 70%;
}
.mapa-info .mapa-other-infos {
    width: auto;
    height: 15px;
    margin-top: 5px;
    align-items: center;
    font-size: 10px;
    text-align: center;
    display: flex;
    opacity: 0;
}

.mapa-other-infos span, .mapa-other-infos .fa-play, .mapa-other-infos .fa-circle-check {
    margin-left: 5px;
}

.mapa-all-diffs {
    width: fit-content;
    height: fit-content;
    padding: 5px 0px 5px 0px;
    list-style: none;
}

.mapa-info .type-of-diff {
    background-color: purple;
    height: 12px;
    width: 6px;
    border-radius: 10000px;
}

.mapa-list-item .mapa-info .mapa-name{
    font-size: 20px;
}

.mapa-list-item .mapa-info .mapa-artist{
    font-size: 15px;
}
.mapa-list-item .mapa-info .mapa-creator {
    font-size: 13px;
}

.mapa-other-options {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #2d3e58;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2%;
    cursor: auto;
}

.mapa-other-options .fa-solid.fa-heart {
    display: none;
}

.mapa-other-options i {
    cursor: pointer;
}

.search-mapa {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-mapa {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-mapa:focus {
    outline: none;
}

.search-mapa-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #5B6473;
}

/* Mouse em cima */

.mapa-list-item:hover .mapa-info .mapa-other-infos {
    opacity: 1;
}

/* Fim Mapa */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Ranking */
.ranking-banner {
    height: 100vh;
    background-color: #7EB2FF;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.container .mini-ranking-table {
    width: 100%;
    
}

.ranking-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}

.ranking-banner .pattern-dots-regular {
    height: auto;
    justify-content: center;
    padding: 10px 10px 30px 70px;
}

.ranking-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: #e3ebed;
    font-size: 25px;
}

.player-container {
    position: relative;
    height: 46px;
    width: 100%;
    cursor: pointer;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg");
    border-radius: 30px;
    text-shadow:
        -2px -2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
    color: #e3ebed;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.ranking-table .player-info {
    font-size: 25px;
    width: 100px;
    width: 31%;
    height: 100%;
}

.ranking-table .player-info div {
    display: flex;
    align-items: center;
}

.ranking-table .player-info img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ranking-table .player-info span {
    margin-left: 10px;
}

.ranking-table .position-global {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    width: 10%;
    height: 100%;
}

.ranking-table .scores {
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .precisao {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .scores,
.ranking-table .precisao,
.ranking-table .position-global {
    font-size: 20px;
}

.search-player {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: none;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-player {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-player:focus {
    outline: none;
}

.search-player-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

.page-title-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    color: #e3ebed;
    font-size: 30px;
    border-bottom: 1px solid #e3ebed;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Fim Ranking */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* Login */
.login-main-banner {
    width: 100%;
    height: 100vh;
    background-color: #1f2229;
    display: flex;
}

.login-main-banner img {
    height: 100%;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: #171920;
    border-left: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: #1f2229;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.login-container span {
    color: #e3ebed;
    font-weight: 500;
    font-size: 60px;
}

.login-container input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #2d3d5f;
    color: #e3ebed;
    font-weight: 500;
    font-size: 20px;
    -webkit-appearance: none;
}

.login-container input:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

.login-input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.username-password-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.username-password-container label {
    color: #e3ebed;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.username-password-container input {
    font-weight: 700;
    text-indent: 40px;
}

.username-password-container i {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.username-password-container i.password {
    cursor: pointer;
}

.button-login {
    height: 60px;
    width: 40%;
    border-radius: 30px;
    background-color: #2d3d5f;
    border: 2px solid #212e48;
    color: #e3ebed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.button-login:hover {
    cursor: pointer;
}

/* Fim Login */

.login-cadastrar {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-left: 5px;
    transition: color .5s ease;
}

.login-cadastrar:hover {
    color: #FAAE2A;
}

.flag-country {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Modificar Barra */
::-webkit-scrollbar {
    width: 2px;
    background: #2b72c0;
}

::-webkit-scrollbar-thumb {
    background: #17C8E3;
}

/* Fim Modificar Barra */