/* 
    Cores Gura
    #e3ebed Cabelo
    #7eb2ff Sombra Cabelo
    #2b72c0 Roupa, Rabo
    #fff0e7 Pele
*/

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

#perfil-menu a {
    text-decoration: none;
    color: #34749e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

* {

    margin: 0;
    padding: 0;
    font-family: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
}

input {
    box-sizing: border-box;
    border: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Index */
/* Primeiro Container */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.complementar-triple-colors {
    background: linear-gradient(-45deg, #385073, #2860B5, #5173A6, #7EB2FF, #C1D6F5);
}


.container-index {
    height: fit-content;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
}

.pattern-dots-regular {
    width: 100%;
    height: 520px;
    background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    color: #e3ebed;
    padding: 10px 10px 30px 100px;
    display: flex;
}

.background-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.background-gif-container {
    width: fit-content;
    height: 70%;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

.background-gif-container div {
    overflow: hidden;
    border: 4px solid #e3ebed;
    height: 100%;
    box-shadow: 2px 2px 18px black;
}

.background-gif {
    height: 110%;
    padding: 0;
    margin: 0;
    filter: blur(2px);
}

.gura-gif {
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: -18px;
}

.container-index-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 20px 30px;
}

.container-index-title {
    font-size: 29px;
    text-align: center;
}

.paragraph-container {
    width: 92%;
    margin-top: 50px
}

.paragraph {
    font-size: 20px;
    text-align: center;
}

.container-index .container-index-button {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.container-index .container-index-button button {
    /* width: 45%;
    height: 65px;
    border-radius: 30px;
    outline: none;
    background-color: #7eb2ff;
    border: 2px solid #2B72C0;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #d5dfe2;
    font-weight: 600;
     */
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    background-color: rgba(0, 0, 0, 0);
}

.container-index .container-index-button button:hover {
    color: #282828;
    background-color: white;
}

.container-index .container-index-button .login {
    background-color: #2A8FFA;
}

/* Fim Primeiro Container */


.mini-home {
    border: 2px solid;
    width: 30%;
    height: 250px;
    background-color: #171920;
    border-radius: 10px;
}

.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-table {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active,
.reveal-table.active {
    transform: translateY(0px);
    opacity: 1;
}

.mini-ranking {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-ranking-table {
    width: 90%;
    height: 50%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.mini-ranking-table th {
    height: fit-content;
    font-size: 20px;
    padding: 0 20px 0 20px;
    font-size: 15px;
    color: #e3ebed;
}

.mini-ranking-table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
}

.mini-ranking-table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mini-ranking-table td:first-child,
.mini-ranking-table td:last-child {
    padding: 5px;
}

.mini-ranking-container {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(.25turn, hsla(200, 10%, 30%, .5), hsla(200, 10%, 30%, 0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg") repeat scroll 0% 0%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #e3ebed;
    text-shadow: 2px 2px 0 #000;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 18px black;
    border-radius: 5px;
}

.mini-ranking-container .mini-ranking-info-container {
    height: 70px;
}

.pattern-dots-regular .mini-ranking .mini-ranking-table th {
    color: black;
}

.pattern-dots-regular .mini-ranking .mini-ranking-container .mini-ranking-title-container {
    width: 150px;
}


.mini-ranking-container .mini-ranking-title-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.mini-ranking-container .mini-ranking-title-container img.player-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.mini-ranking-title {
    text-align: center;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

.title-ranking {
    color: #7eb2ff;
    cursor: pointer;
    transition: color .5s ease;
    font-size: 15px;
    width: fit-content;
}

.title-ranking:hover {
    color: #FAAE2A;
}

.map-creator {
    font-size: 13px;
}

.mini-ranking .gura-gif {
    z-index: 1;
    left: -3%;
    top: 36%;
}

/* Fim Index */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Menu */
#perfil-menu {
    z-index: 4;
    height: -webkit-fill-available;
    width: 5vw;
    position: fixed;
    background-color: rgb(183 191 208 / 60%);
    border-right: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    transition: width 1s ease;
    box-sizing: border-box;
}

.menu-usuario {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    margin-top: 15px;
}

#perfil-menu:hover {
    width: 19vw;
}

#perfil-menu .menu-icon {
    font-size: 28px;
}

#search-user {
    height: 35px;
    width: 90%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 30px;
}

#search-user:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

#search-user::placeholder {
    color: #e3ebed;
    opacity: 0.5;
}

#perfil-menu .search-icon {
    font-size: 20px;
    position: absolute;
    top: 27px;
    left: 14%;
    color: #5B6473;
    transition: left 1.2s ease;
    /*     transition-delay: 0.4s; */
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #484652;
    font-weight: bold;
    font-size: 18px;
}

.nav-bar-item {
    height: 40px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.nav-bar-item:hover {
    background-color: #385073;

}

.nav-bar-item i {
    margin-left: 15px;
}

.nav-bar-name,
.nav-bar-name-opacity {
    margin-left: 10px;
}

.nav-bar-name {
    width: 0px;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: .2s;
}

.nav-bar-name-opacity {
    width: 175px;
    opacity: 1;
}

.here {
    color: #022f55;
    cursor: default;
}

.user-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #73717d;
    font-weight: 500;
}

.user-container i:hover {
    cursor: pointer;
    background-color: #1d1b2e;
}

.user-container #userImg {
    height: 70%;
}

.user-container .user-info {
    width: 0%;
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .4s;

}

.user-container .user-info-show {
    width: 40%;
    opacity: 1;
}

.user-container #username {
    font-size: 18px;
    font-weight: 500;
    color: #5C83BD;
}

.user-container i {
    font-size: 25px;
    padding: 10px;
}

.user-container #global,
.user-container #nacional {
    color: #bdc9dd;
    font-size: 13px;
}

#logOut {
    color: #9b2525;
}

.user-container .fa-user {
    display: none;
    color: #34749e;
}

/* Mouse em cima Menu*/
#perfil-menu:hover #search-user {
    width: 100%;
}

#perfil-menu:hover .user-info {
    width: 40%;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: hsla(216, 35%, 34%, 0.8);
}

#perfil-menu:hover #search {
    left: 6%;
}

#perfil-menu:hover #home,
#perfil-menu:hover #mapa,
#perfil-menu:hover #ranking,
#perfil-menu:hover #ultimos,
#perfil-menu:hover #login,
#perfil-menu:hover #cadastro {
    margin-left: 10px;
    width: 175px;
    opacity: 1;
}

#perfil-menu:hover #user {
    display: block;
}

/* Fim Menu */
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* Inicio Mapas */
.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: height 1s ease;
    position: relative;
}

.img-container .fa-pen {
    position: absolute;
    bottom: 2%;
    right: 2%;
    background: #496999;
    border-radius: 50%;
    padding: 10px;
    color: hsl(0deg 0% 100% / 60%);
    z-index: 100;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.background-image {
    width: 100vw;
}

.banner-img-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.mapa-banner {
    height: 100%;
    background-color: #7EB2FF;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.mapa-banner .pattern-dots-regular {
    height: auto;
    padding: 10px 10px 30px 70px;
    justify-content: center;
}

.container {
    width: 83%;
    height: fit-content;
    background-color: #385073;
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-list-container {
    list-style: none;
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mapa-list-item {
    width: 45%;
    height: 115px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;
}

.mapa-list-item .mapa-image {
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.mapa-list-item .mapa-info {
    border-radius: 10px;
    height: 100%;
    width: 82%;
    position: absolute;
    right: 0;
    transition: width 1s cubic-bezier(.14, .66, .67, 1.02);
    background: linear-gradient(.25turn, hsla(200, 10%, 30%, .5), hsla(200, 10%, 30%, 0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://cdn.scoresaber.com/covers/EDDCA14F0E90F5DA5A2337B8DD2B1EB381771400.png") repeat scroll 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    margin-left: 14%;
    left: 0;
    z-index: 1000;
}

.mapa-list-item:hover .mapa-info {
    width: 77%;
}

.mapa-info .mapa-other-infos {
    width: auto;
    height: 15px;
    margin-top: 5px;
    align-items: center;
    font-size: 10px;
    text-align: center;
    display: flex;
    opacity: 0;
}

.mapa-other-infos span,
.mapa-other-infos .fa-play,
.mapa-other-infos .fa-circle-check {
    margin-left: 5px;
}

.mapa-all-diffs {
    width: fit-content;
    height: fit-content;
    padding: 5px 0px 5px 0px;
    list-style: none;
    display: flex;
}

.mapa-list-item .mapa-info .mapa-name {
    font-size: 20px;
}

.mapa-list-item .mapa-info .mapa-artist {
    font-size: 15px;
}

.mapa-list-item .mapa-info .mapa-creator {
    font-size: 13px;
}

.mapa-other-options {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #2d3e58;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.5%;
    cursor: auto;
}

.mapa-other-options .fa-solid.fa-heart {
    display: none;
}

.mapa-other-options .fa-solid.fa-file-arrow-down, .mapa-other-options .fa-heart {
    cursor: pointer;
}

.mapa-other-options a {
    color: white;
}

.mapa-other-options .fa-solid.fa-file-arrow-down:hover, .mapa-other-options .fa-heart:hover {
    color:#2A8FFA;
}

.search-mapa-container {
    width: 100%;
    background-color: #4b6b9b;
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

#search-mapa {
    width: 100%;
    background-color: #5C83BD;
    color: #e3ebed;
    font-weight: 500;
    font-size: 25px;
    text-indent: 10px;
    padding: 10px 60px 10px 10px;
    border: 1px solid hsl(200, 10%, 20%);
}

#search-mapa::placeholder {
    color: #e3ebed;
}

#search-mapa:focus {
    outline: none;
}

.search-mapa-icon {
    font-size: 25px;
    position: absolute;
    top: 35%;
    right: 4%;
    z-index: 1;
    color: #75abb8;
}

/* Mouse em cima */

.mapa-list-item:hover .mapa-info .mapa-other-infos {
    opacity: 1;
}

.pages-list {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-list ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.pages-list ul .selected {
    border-radius: 50%;
    background-color: rgb(91 125 177 / 50%);
}

.pages-list ul li:first-child,
.pages-list ul li:last-child {
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(91 125 177 / 50%);
}

.pages-list ul li {
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expertplus {
    background-color: rgba(143, 72, 219);
}

.expert {
    background-color: rgba(191, 42, 66);
}

.hard {
    background-color: rgba(255, 99, 71);
}

.normal {
    background-color: rgba(89, 176, 244);
}

.easy {
    background-color: rgba(60, 180, 114);
}

.expertplus, .expert, .hard, .normal, .easy {
    height: 11px;
    width: 21px;
    border-radius: 10000px;
    border: 2px solid black
}

.mapa-all-diffs:not(:first-child) .expertplus, .mapa-all-diffs:not(:first-child) .expert, .mapa-all-diffs:not(:first-child) .hard,
.mapa-all-diffs:not(:first-child) .normal, .mapa-all-diffs:not(:first-child) .easy {
    margin-left: 2px;
}
/* Fim Mapas */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Ranking */
.ranking-banner {
    height: 100vh;
    background-color: #7EB2FF;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.container .mini-ranking-table {
    width: 100%;

}

.ranking-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.ranking-banner .pattern-dots-regular {
    height: auto;
    justify-content: center;
    padding: 10px 10px 30px 70px;
}

.ranking-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: #e3ebed;
    font-size: 25px;
}

.player-container {
    position: relative;
    height: 46px;
    width: 100%;
    cursor: pointer;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg");
    border-radius: 30px;
    text-shadow:
        -2px -2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
    color: #e3ebed;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.ranking-table .player-info {
    font-size: 25px;
    width: 100px;
    width: 31%;
    height: 100%;
}

.ranking-table .player-info div {
    display: flex;
    align-items: center;
}

.ranking-table .player-info img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ranking-table .player-info span {
    margin-left: 10px;
}

.ranking-table .position-global {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    width: 10%;
    height: 100%;
}

.ranking-table .scores {
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .precisao {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .scores,
.ranking-table .precisao,
.ranking-table .position-global {
    font-size: 20px;
}

.search-player {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: none;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-player {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-player:focus {
    outline: none;
}

.search-player-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

.page-title-container {
    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: 400;
    color: #e3ebed;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.page-title-container::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, transparent 5%, white 50%, transparent 110%);
}

.page-title-container span {
    margin-left: 40px;
}

.mini-ranking-table-container {
    padding: 0px 20px 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

.select-type-ranking-container {
    width: 100%;
    background-color: #3C424D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.select-type-ranking-container ul {
    list-style: none;
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    box-sizing: border-box;

}

/* .select-type-ranking-container ul li:nth-child(even) {
    margin-left: 15px;
}
 */
.select-type-ranking-container ul li {
    /* border: .5px solid; */
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 0 5px 0;
    cursor: pointer;
}

.select-type-ranking-container ul li:hover {
    border-bottom: 5px solid #022f55;

}

.select-type-ranking-container .selected {
    border-bottom: 5px solid #022f55;
    cursor: context-menu;
}

/* Fim Ranking */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* Login */
.login-main-banner {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-main-banner img {
    height: 100%;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: #7EB2FF;
    border-left: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-banner .pattern-dots-regular {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-container {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: #385073;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.login-container span {
    color: #e3ebed;
    font-weight: 500;
    font-size: 60px;
}

.login-container input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #2d3d5f;
    color: #e3ebed;
    font-weight: 500;
    font-size: 20px;
    -webkit-appearance: none;
}

.login-container input:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

.login-input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.username-password-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.username-password-container label {
    color: #e3ebed;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.username-password-container input {
    font-weight: 700;
    text-indent: 40px;
}

.username-password-container i {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.username-password-container i.password {
    cursor: pointer;
}

.button-login {
    height: 60px;
    width: 40%;
    border-radius: 30px;
    background-color: #2d3d5f;
    border: 2px solid #212e48;
    color: #e3ebed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.button-login:hover {
    cursor: pointer;
}

/* Fim Login */

.login-cadastrar {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-left: 5px;
    transition: color .5s ease;
}

.login-cadastrar:hover {
    color: #FAAE2A;
}

.flag-country {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.flag-country img.emoji {
    width: 25px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Mapa */
.mapa-list-types {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.mapa-list-types::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, transparent 20%, white 50%, transparent 80%);
}

.mapa-list-types .mapa-list-type {
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    padding-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.mapa-list-types .mapa-list-type:hover {
    border-bottom: 5px solid #022f55;
}

.mapa-list-types .selected {
    border-bottom: 5px solid #022f55;
    cursor: context-menu;
}

.mini-container-container {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.mini-container-container .mini-container:first-child {
    margin-bottom: 10px;
}

.mini-container {
    width: 100%;
    height: fit-content;
    background-color: #385073;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.mini-container .mapa-info {
    height: 100px;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
}

.mini-container .mapa-info .map-name {
    font-size: 20px;
}

.mini-container .mapa-info .mapa-artist {
    font-size: 15px;
}

.mini-container .mapa-info .mapa-creator {
    font-size: 13px;
}

.mini-container img {
    width: 100px;
    border-radius: 5px;
}

.mini-container .mapa-main-info {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    border: 2px solid;
    font-size: 15px;
}

.mini-container .mapa-main-info div span:nth-child(even) {
    font-weight: 600;
}

.mini-container .mapa-info-diff {
    margin-top: 10px;
}

.mini-container .mapa-info-diff div span:nth-child(even) {
    font-weight: 600;

}

.mapa-list-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.mapa-list-table tr {
    font-size: 12px;
}

.mapa-list-table tr:nth-child(even) {
    background-color: #5E85BF;
}

.mapa-list-table .mapa-list-table-title th {
    color: #1F2C40;
    padding-bottom: 5px;
}

.mapa-list-scores td {
    text-align: center;
    height: 25px;
}

.mapa-list-scores td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mapa-list-scores td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mapa-list-scores .rank {
    font-weight: 600;
}

.mapa-list-scores .type {
    width: 50px;
}

/* Fim Mapa */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* Inicio Perfil */
.perfil-banner {
    height: 100%;
    background-color: #7EB2FF;
    border-top: 4px solid white;
    
    flex-grow: 1;
}

.perfil-banner .pattern-dots-regular {
    height: auto;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.perfil-container {
    width: 80%;
    height: fit-content;
    background-color: #3E5880;
    border-radius: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: black;
}

.player-header-container {
    width: 100%;
    height: 70px;
    background-color: #25354D;
    position: relative;
    display: flex;
    align-items: center
}

.player-header-container .fa-pen {
    position: absolute;
    bottom: 27%;
    right: -4%;
    background: #496999;
    border-radius: 50%;
    padding: 5px;
    color: hsl(0deg 0% 100% / 60%);
    cursor: pointer;
}

.perfil-img {
    height: 110px;
    border-radius: 40px;
    transform: translateY(-30px);
    margin-left: 50px;
}

.player-header-container .player-name-container {
    color: white;
    margin-left: 20px;
    height: 100%;
    width: 20%;
    padding-top: 5px;
    box-sizing: border-box;
}

.player-header-container .player-name-container .player-name {
    font-weight: 400;
    font-size: 24px;
}

img.emoji {
    width: 25px;
}

.contry-name {
    font-size: 18px;
    margin-left: 10px;
}

.player-position-info {
    color: white;
    margin-left: 10px;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.global-container,
.nacional-container {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.nacional-container {
    margin-left: 20px;
}

.player-position-info #posicaoGlobal,
.player-position-info #posicaoNacional {
    font-size: 16px;
}

.hide-background-container {
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-background {
    top: 25%;
    height: 20px;
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: #496999;
    cursor: pointer;
}

.position-info-chart-container {
    width: 97%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    background-color: #25354D;
    border-radius: 10px;
}

.position-info-chart-container .player-info {
    color: white;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: space-around
}


.player-info .player-info-label {
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
}

.player-info-label span {
    margin-top: 2px;
}

/* .fa-youtube {
    color: red;
}

.fa-twitch {
    color: #6441a5;
}

.fa-twitter {
    color: #1da1f2;
} */

.position-chart {
    width: 60%;
    height: fit-content;
    padding: 20px 5px 20px 5px;
}

.round-border {
    background-color: #2d3e5f;
    height: auto;
    width: 4px;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
}

.labels-player {
    width: 100%;
    height: fit-content;
    display: flex;
    color: white;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    list-style: none;
}

.player-label {
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
}

.player-label-name {
    color: #9FB1CC;
}



.chosen {
    color: hsl(333, 40%, 100%);
}

.player-label-container {
    background-color: #25354D;
    width: 97%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    padding: 10px 0 10px 0;
}

.player-label-title-container {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-bottom: 2px solid #2d3e5f;
    margin-left: 20px;
    padding: 0 2px 5px 2px;
    text-align: center
}

.player-label-title {
    color: white;
    font-weight: 600;
}

.editor-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-editor__editable {
    min-height: 300px;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
    justify-content: center;
}

/* Fim Perfil */

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Modificar Barra */
::-webkit-scrollbar {
    width: 2px;
    background: #B6CBEA;
}

::-webkit-scrollbar-thumb {
    background: #567BB3;
}

/* Fim Modificar Barra */