@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
    font-family: 'Hugme';
    src: url('./assets/font/Hug\ Me\ Tight\ -\ OTF.otf') format('opentype'), url('./assets/font/Hug\ Me\ Tight\ -\ OT.ttf') format('truetype');
} */

input {
    box-sizing: border-box;
    border: 0;
}

/* Inicio Banner */
.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: height 1s ease;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.background-image {
    width: 100vw;
}

.main-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    box-sizing: border-box;
    flex-grow: 1;
}

.welcome-msg-container {
    width: 80%;
    height: 100px;
    background-color: #171920;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.banner-img-container {
    width: 50%;
    height: 100%;
}

/* Fim Banner */
/* Login */
.login-main-banner {
    width: 100%;
    height: 100vh;
    background-color: #1f2229;
    display: flex;
}

.login-main-banner img {
    height: 100%;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: #171920;
    border-left: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: #1f2229;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.login-container span {
    color: white;
    font-weight: 500;
    font-size: 60px;
}

.login-container input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #2d3d5f;
    color: white;
    font-weight: 500;
    font-size: 20px;
    -webkit-appearance: none;
}

.login-container input:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

.login-input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.username-password-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.username-password-container label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.username-password-container input {
    font-weight: 700;
    text-indent: 40px;
}

.username-password-container i {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.username-password-container i.password {
    cursor: pointer;
}

.button-login {
    height: 60px;
    width: 40%;
    border-radius: 30px;
    background-color: #2d3d5f;
    border: 2px solid #212e48;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.button-login:hover {
    cursor: pointer;
}

/* Fim Login */

/* Inicio Mapa  */
.mapa-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.container {
    list-style: none;
    width: 700px;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}

.mapa-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: white;
    font-size: 25px;
}

.mapa-creator-name-container {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.mapa-name-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    margin-left: 20px;
}

.mapa-creator {
    font-size: 20px;
}

.mapa-name {
    font-size: 30px;
}

.mapa-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow: hidden;
    top: 0;
}

.mapa-img {
    filter: blur(0.2rem);
    width: 100%;
    transform: translateY(-100px);
}

.mapa-plays-container {
    white-space: nowrap;
    text-align: center;
    justify-items: center;
    overflow: hidden;
    background-color: #50586a;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mapa-plays {
    font-size: 20px;
}

.mapa-container {
    position: relative;
    height: 80px;
    width: 90%;
    border-right: 6px solid purple;
    cursor: pointer;
    text-shadow:
        -2px -2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
}

.mapa td {
    color: white;
    font-weight: 800;
}

/* Fim Mapa */
/* Inicio Procurar Mapa */
.search-mapa {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-mapa {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #414049;
    color: #7f7d88;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-mapa:focus {
    outline: none;
}

.search-mapa-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

/* Fim Procurar Mapa */
/* Inicio Ranking */
.ranking-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.ranking-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}

.ranking-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: white;
    font-size: 25px;
}

.player-container {
    position: relative;
    height: 46px;
    width: 100%;
    cursor: pointer;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg");
    background-color: #cccccc;
    border-radius: 30px;
    text-shadow:
        -2px -2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
    color: white;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.ranking-table .player-info {
    font-size: 25px;
    width: 100px;
    width: 31%;
    height: 100%;
}

.ranking-table .player-info div {
    display: flex;
    align-items: center;
}

.ranking-table .player-info img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ranking-table .player-info span {
    margin-left: 10px;
}

.ranking-table .position-global {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    width: 10%;
    height: 100%;
}

.ranking-table .scores {
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .precisao {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .scores,
.ranking-table .precisao,
.ranking-table .position-global {
    font-size: 20px;
}

.search-player {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-player {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #414049;
    color: #7f7d88;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-player:focus {
    outline: none;
}

.search-player-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

/* Fim Ranking */
/* Inicio Perfil */
.perfil-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.perfil-container {
    width: 80%;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.player-header-container {
    width: 100%;
    height: 70px;
    background-color: #262935;
    position: relative;
    display: flex;
    align-items: center
}

.perfil-img {
    height: 110px;
    border-radius: 40px;
    transform: translateY(-30px);
    margin-left: 50px;
}

.player-header-container .player-name-container {
    color: white;
    margin-left: 20px;
}

.player-header-container .player-name-container .player-name {
    font-weight: 400;
    font-size: 24px;
}

#flag-country {
    display: flex;
    align-items: center
}

img.emoji {
    width: 30px;
}

.contry-name {
    font-size: 18px;
    margin-left: 10px;
}

.player-position-info {
    color: white;
    margin-left: 10px;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.global-container,
.nacional-container {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.nacional-container {
    margin-left: 20px;
}

.player-position-info #posicaoGlobal,
.player-position-info #posicaoNacional {
    font-size: 16px;
}

.hide-background-container {
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-background {
    top: 25%;
    height: 20px;
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: #212e48;
    cursor: pointer;
}

.position-info-chart-container {
    width: 97%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    background-color: #262935;
    border-radius: 10px;
}

.position-info-chart-container .player-info {
    color: white;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: space-around
}


.player-info .player-info-label {
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
}
.player-info-label span {
    margin-top: 2px;
}
.fa-youtube {
    color: red;
}

.fa-twitch {
    color: #6441a5;
}

.fa-twitter {
    color: #1da1f2;
}

.position-chart {
    width: 60%;
    height: fit-content;
    padding: 20px 5px 20px 5px;
}

.round-border {
    background-color: #2d3e5f;
    height: auto;
    width: 4px;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
}

.labels-player {
    width: 100%;
    height: fit-content;
    display: flex;

    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    list-style: none;
}

.player-label {
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
}

.player-label-name {
    color: #3a527d;
}

.chosen {
    color: hsl(333, 40%, 100%);
}

.player-label-container {
    background-color: #262935;
    width: 97%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
}

.player-label-title-container {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-bottom: 2px solid #2d3e5f;
    margin-left: 20px;
    padding: 0 2px 5px 2px;
    text-align: center
}

.player-label-title {
    color: white;
    font-weight: 600;
}

.editor-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-editor__editable {
    min-height: 300px;
}
/* Fim Perfil */