/* 
    Cores Gura
    #e3ebed Cabelo
    #7eb2ff Sombra Cabelo
    #2b72c0 Roupa, Rabo
    #fff0e7 Pele

*/
:root {
    --cor1: #E3EBED;
    --cor2: #171B20;
    --cor3: #7eb2ff;
    --cor4: #C9DFFF;
    --cor5: #242b32;
    --cor6: #323e49;
    --fundo-tela: #1F2C40;
    --menu-selecionado: #022f55;
    --menu-cor: #34749e;
    --menu-background: #4F5D6E;
    --menu-background-opacidade: hsl(213, 16%, 37%, 60%);
    --pagina-selecionada: rgb(91 125 177 / 50%);
    --expert-plus: #8f48db;
    --expert: #bf2a42;
    --hard: #ff6347;
    --normal: #59b0f4;
    --easy: #3cb472;
    --tamanho-titulo: 3.5rem;
    --tamanho-paragrafo: 1.375rem;
    --tamanho-botao: 1.75rem;
    --perfect: #62c400;
    --ss: #00FFFF;
    --s: #59ff00;
    --a: #FFEB04;
    --b: #ffa704;
    --c: #FF8000;
    --d: #ff3209;
    --e: #FF0000;

}

/* 
    #174578
    #113761
    #0E3056
    #0B2A4C
    #04162C
*/

/* 
    Paletas De Cores:
    #E3EBED
    #3E4550
    #7eb2ff

    Cores Terciárias:
    #6050CC
    #FFE2BD
*/

/* 
    #7eb2ff
    #e3ebed
    #535353 ou #656F80

    #100F10
    #1B1B1B
    #242424

    #e3ebed


    Grandes:
    4.5rem
    3.5rem
    2.5rem

    Media:
    1.75rem
    1.375rem
    1rem

    Pequena:
    0.875rem
    0.625rem
    0.375rem

*/

@font-face {
    font-family: Nunito;
    src: url('./assets/font/static/Nunito-ExtraBold.ttf') format('truetype');

    /* opentype - otf
        truetype - ttf */

}


body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: var(--cor2);
}

a {
    text-decoration: none;
}

#perfil-menu a {
    text-decoration: none;
    color: var(--menu-cor);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

input {
    box-sizing: border-box;
    border: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Index */
/* Primeiro Container */

.container-index {
    height: fit-content;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;

}

.container-index:nth-child(1) {
    background-color: var(--cor3);
}

.container-index:nth-child(3) {
    background-color: var(--cor4);
}

.container-index:nth-child(4) .container-index-title-container .container-index-title {
    color: var(--cor1);
}

.container-index:nth-child(5) {
    background-color: var(--cor1);
}

.pattern-dots-regular {
    width: 100%;
    height: 520px;
    padding: 10px 10px 30px 100px;
    display: flex;
}

.background-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.background-gif-container {
    width: fit-content;
    height: 70%;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

.background-gif-container div {
    overflow: hidden;
    border: 4px solid var(--cor2);
    background: var(--cor2);
    height: 100%;
    box-shadow: 2px 2px 18px black;
}

.background-gif {
    height: 110%;
    padding: 0;
    margin: 0;
    filter: blur(2px);
}

.gura-gif {
    width: 125px;
    position: absolute;
    right: 2%;
    bottom: -7%;
}

.container-index-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 20px 30px;
    color: var(--cor2);
}

.container-index-title {
    font-size: var(--tamanho-titulo);
    font-weight: 900;
    text-align: center;
}


.container-index-title h1 {
    font-size: var(--tamanho-titulo);
}

.paragraph-container {
    width: 92%;
    margin-top: 50px
}

.paragraph {
    font-size: var(--tamanho-paragrafo);
    text-align: center;
}

.container-index .container-index-button {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.container-index .container-index-button button {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor2);
    font-size: var(--tamanho-botao);
    border: 2px solid var(--cor2);
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    background-color: rgba(0, 0, 0, 0);
}

.container-index .container-index-button button:hover {
    color: var(--cor1);
    background-color: var(--cor2);
}


/* Fim Primeiro Container */


.mini-home {
    border: 2px solid;
    width: 30%;
    height: 250px;
    background-color: #171920;
    border-radius: 10px;
}

.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-table {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active,
.reveal-table.active {
    transform: translateY(0px);
    opacity: 1;
}

.mini-ranking {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-ranking-table {
    width: 90%;
    height: 50%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.mini-ranking-table th {
    height: fit-content;
    font-size: 20px;
    padding: 0 20px 0 20px;
    color: #e3ebed;
}

.mini-ranking-table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
}

.mini-ranking-table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mini-ranking-table td:first-child,
.mini-ranking-table td:last-child {
    padding: 5px;
}

.mini-ranking-container {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(.25turn, hsla(200, 10%, 30%, .5), hsla(200, 10%, 30%, 0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg") repeat scroll 0% 0%;
    background-size: cover !important;
    color: #e3ebed;
    text-shadow: 2px 2px 0 #000;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 18px black;
    border-radius: 5px;
}

.mini-ranking-container .mini-ranking-info-container {
    height: 70px;
}

.pattern-dots-regular .mini-ranking .mini-ranking-table th {
    color: black;
}

.pattern-dots-regular .mini-ranking .mini-ranking-container .mini-ranking-title-container {
    width: 200px;
}


.mini-ranking-container .mini-ranking-title-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.mini-ranking-container .mini-ranking-title-container img.player-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.mini-ranking-title {
    text-align: center;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

.title-ranking {
    color: var(--cor3);
    cursor: pointer;
    transition: color .5s ease;
    font-size: 15px;
    width: fit-content;
}

.title-ranking:hover {
    color: #FFD37D;
}

.map-creator {
    font-size: 13px;
}

.mini-ranking .gura-gif {
    z-index: 1;
    left: -3%;
    top: -1%;
}

#mapa-list-item-index {
    width: 320px;
    height: 90px;
}

#mapa-list-item-index .mapa-name {
    font-size: 17px;
}

#mapa-list-item-index .mapa-artist {
    font-size: 12px;
}

#mapa-list-item-index .mapa-creator {
    font-size: 10px;
}

#mapa-list-item-index .mapa-other-infos {
    height: 7px;
    font-size: 7px;
}

#mapa-list-item-index .mapa-other-options {
    font-size: 10px;
}

/* Fim Index */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Menu */
#perfil-menu {
    z-index: 4;
    height: -webkit-fill-available;
    width: 5vw;
    position: fixed;
    background-color: var(--menu-background-opacidade);
    border-right: 4px solid var(--menu-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    transition: width 1s ease;
    box-sizing: border-box;
    z-index: 1001;
}

#perfil-menu .perfil-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-usuario {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    margin-top: 15px;
}

#perfil-menu:hover {
    width: 19vw;
}

#perfil-menu .menu-icon {
    font-size: 28px;
}

#search-user {
    height: 35px;
    width: 90%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 30px;
}

#search-user:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

#search-user::placeholder {
    color: #e3ebed;
    opacity: 0.5;
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #484652;
    font-weight: bold;
    font-size: 18px;
}

.nav-bar-item:nth-child(5),
.nav-bar-item:nth-child(6) {
    display: none;
}

.nav-bar-item {
    height: 40px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.nav-bar-item:hover {
    background-color: #385073;

}

.nav-bar-item i {
    margin-left: 15px;
}

.nav-bar-name,
.nav-bar-name-opacity {
    margin-left: 10px;
}

.nav-bar-name {
    width: 0px;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: .2s;
}

.nav-bar-name-opacity {
    width: 175px;
    opacity: 1;
}

.here {
    color: var(--menu-selecionado);
    cursor: default;
}

.user-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #73717d;
    font-weight: 500;
}

.user-container i:hover {
    cursor: pointer;
    background-color: #1d1b2e;
}

.user-container #userImg {
    height: 70%;
}

.user-container .user-info {
    width: 0%;
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .4s;

}

.user-container .user-info-show {
    width: 40%;
    opacity: 1;
}

.user-container #username {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #5C83BD;
    text-align: center;
}

.user-container i {
    font-size: 25px;
    padding: 10px;
}

.user-container #global,
.user-container #nacional {
    color: #bdc9dd;
    font-size: 13px;
}

#logOut {
    color: #9b2525;
}

.user-container .fa-user {
    display: none;
    color: #34749e;
}

/* Mouse em cima Menu*/

#perfil-menu:hover .user-info {
    width: 45%;
    opacity: 1;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: hsla(216, 35%, 34%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#perfil-menu:hover #search {
    left: 6%;
}

#perfil-menu:hover #home,
#perfil-menu:hover #mapas,
#perfil-menu:hover #ranking,
#perfil-menu:hover #ultimos,
#perfil-menu:hover #login,
#perfil-menu:hover #cadastro,
#perfil-menu:hover #pesquisar {
    margin-left: 10px;
    width: 175px;
    opacity: 1;
}

#perfil-menu:hover #user {
    display: block;
}

/* Fim Menu */
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* Inicio Mapas */
.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: height 1s ease;
    position: relative;
}

.fa-pen {
    display: none;
}

.img-container .fa-pen {
    position: absolute;
    bottom: 2%;
    right: 2%;
    background: #496999;
    border-radius: 50%;
    padding: 10px;
    color: hsl(0deg 0% 100% / 60%);
    z-index: 100;
    cursor: pointer;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.background-image {
    width: 100vw;
}

.banner-img-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.mapa-banner {
    height: fit-content;
    background-color: var(--fundo-tela);
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.mapa-banner .pattern-dots-regular {
    height: fit-content;
    padding: 10px 10px 30px 70px;
    justify-content: inherit;
}

.container {
    width: 100%;
    height: fit-content;
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.mapa-list-container,
#search-list-container {
    list-style: none;
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mapa-list-item {
    width: 45%;
    height: 115px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;

}

.mapa-list-item .mapa-image {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

.mapa-list-item .mapa-info {
    border-radius: 10px;
    height: 100%;
    width: 82%;
    position: absolute;
    right: 0;
    transition: width 1s cubic-bezier(.14, .66, .67, 1.02);
    background: linear-gradient(.25turn, hsla(200, 10%, 30%, .5), hsla(200, 10%, 30%, 0.8)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("https://cdn.scoresaber.com/covers/EDDCA14F0E90F5DA5A2337B8DD2B1EB381771400.png") repeat scroll 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    margin-left: 14%;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.mapa-list-item:hover .mapa-info {
    width: 77%;

}

.mapa-info .mapa-other-infos {
    width: auto;
    height: 15px;
    margin-top: 5px;
    align-items: center;
    font-size: 10px;
    text-align: center;
    display: flex;
    opacity: 0;
}

.mapa-other-infos span,
.mapa-other-infos .fa-play,
.mapa-other-infos .fa-circle-check {
    margin-left: 5px;
}

.mapa-all-diffs {
    width: fit-content;
    height: fit-content;
    padding: 5px 0px 5px 0px;
    list-style: none;
    display: flex;
}

.mapa-list-item .mapa-info .mapa-name {
    font-size: 20px;
    white-space: nowrap;
}

.mapa-list-item .mapa-info .mapa-artist {
    font-size: 15px;
}

.mapa-list-item .mapa-info .mapa-creator {
    font-size: 13px;
}

.mapa-other-options {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #2d3e58;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.5%;
    cursor: auto;
}

.mapa-other-options .fa-solid.fa-heart {
    display: none;
}

.mapa-other-options .fa-solid.fa-file-arrow-down,
.mapa-other-options .fa-heart {
    cursor: pointer;
}

.mapa-other-options a {
    color: white;
}

.mapa-other-options .fa-solid.fa-file-arrow-down:hover,
.mapa-other-options .fa-heart:hover {
    color: #2A8FFA;
}

.search-mapa-container {
    width: 100%;
    background-color: var(--cor5);
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

#search-mapa,
#search {
    width: 100%;
    background-color: var(--cor6);
    color: #e3ebed;
    font-weight: 500;
    font-size: 25px;
    text-indent: 10px;
    padding: 10px 60px 10px 10px;
    border: 1px solid hsl(200, 10%, 20%);
}

#search-mapa::placeholder,
#search::placeholder {
    color: #e3ebed;
}

#search-mapa:focus,
#search-mapa:focus {
    outline: none;
}

.search-mapa-icon {
    font-size: 25px;
    position: absolute;
    top: 35%;
    right: 4%;
    z-index: 1;
    color: var(--cor1);
}

/* Mouse em cima */

.mapa-list-item:hover .mapa-info .mapa-other-infos {
    opacity: 1;
}

.pages-list {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-list ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.pages-list ul .selected {
    border-radius: 50%;
    background-color: var(--pagina-selecionada);
}

.pages-list ul li:first-child,
.pages-list ul li:last-child {
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--pagina-selecionada);
}

.pages-list ul li {
    width: fit-content;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expertplus {
    background-color: var(--expert-plus);
}

.expert {
    background-color: var(--expert);
}

.hard {
    background-color: var(--hard);
}

.normal {
    background-color: var(--normal);
}

.easy {
    background-color: var(--easy);
}

.diff-mapas {
    height: 11px;
    width: 21px;
    border-radius: 10000px;
    border: 2px solid black
}

.mapa-all-diffs:not(:first-child) .expertplus,
.mapa-all-diffs:not(:first-child) .expert,
.mapa-all-diffs:not(:first-child) .hard,
.mapa-all-diffs:not(:first-child) .normal,
.mapa-all-diffs:not(:first-child) .easy {
    margin-left: 2px;
}

/* Fim Mapas */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Ranking */
.ranking-banner {
    height: auto;
    background-color: var(--fundo-tela);
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.container .mini-ranking-table {
    width: 100%;

}

.ranking-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.ranking-banner .pattern-dots-regular {
    height: auto;
    justify-content: center;
    padding: 10px 10px 30px 70px;
}

.ranking-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: #e3ebed;
    font-size: 25px;
}

.player-container {
    position: relative;
    height: 46px;
    width: 100%;
    cursor: pointer;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg");
    border-radius: 30px;
    text-shadow:
        -2px -2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
    color: #e3ebed;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.ranking-table .player-info {
    font-size: 25px;
    width: 100px;
    width: 31%;
    height: 100%;
}

.ranking-table .player-info div {
    display: flex;
    align-items: center;
}

.ranking-table .player-info img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ranking-table .player-info span {
    margin-left: 10px;
}

.ranking-table .position-global {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    width: 10%;
    height: 100%;
}

.ranking-table .scores {
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .precisao {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .scores,
.ranking-table .precisao,
.ranking-table .position-global {
    font-size: 20px;
}

.search-player {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: none;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-player {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #5C83BD;
    color: #5B6473;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-player:focus {
    outline: none;
}

.search-player-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

.page-title-container {
    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: 400;
    color: #e3ebed;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.page-title-container::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, transparent 2%, white 2%, transparent 60%);
}

.page-title-container span {
    margin-left: 40px;
}

.mini-ranking-table-container {
    padding: 0px 20px 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

.select-type-ranking-container {
    width: 100%;
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px 10px 0px;
}

.select-type-ranking-container div {
    width: 90%;
    padding: 10px 5px 5px 0px;
    font-size: 15px;
}

.select-type-ranking-container #type-of-ranking {
    width: 90%;
    padding: 10px 30px 10px 0px;
    background-color: var(--cor6);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.select-type-ranking-container .selected {
    border-bottom: 5px solid #022f55;
    cursor: context-menu;
}

/* Fim Ranking */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* Login */
.login-main-banner {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-main-banner img {
    height: 100%;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: var(--fundo-tela);
    border-left: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-banner .pattern-dots-regular {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-container {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.login-container span {
    color: #e3ebed;
    font-weight: 500;
    font-size: 60px;
}

.login-container input,
.login-container select {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--cor6);
    color: #e3ebed;
    font-weight: 500;
    font-size: 20px;
    -webkit-appearance: none;
}

.login-container select {
    border: 0;
}

.login-container input:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

.login-input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.username-password-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.username-password-container label {
    color: #e3ebed;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.username-password-container input {
    font-weight: 700;
    text-indent: 40px;
}

.username-password-container i {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.username-password-container i.password {
    cursor: pointer;
}

.button-login {
    height: 60px;
    width: 40%;
    border-radius: 10px;
    background-color: #314458;
    border: none;
    color: #e3ebed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.button-login:hover {
    cursor: pointer;
}

/* Fim Login */

.login-cadastrar {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-left: 5px;
    transition: color .5s ease;
    text-decoration: none;
    color: var(--menu-cor);
}

.login-cadastrar:hover {
    color: #FAAE2A;
}

.flag-country {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.flag-country img.emoji {
    width: 25px;
}

.mapa-banner .flag-country {
    display: flex;
    align-items: center;
}

.mapa-banner .flag-country img.emoji {
    width: 15px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Mapa */
.mapa-list-types {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.mapa-list-types::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, transparent 20%, white 50%, transparent 80%);
}

.mapa-list-types .mapa-list-type {
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.mapa-list-types .mapa-list-type:hover {
    border-bottom: 5px solid #022f55;
}

.mapa-list-types .selected {
    border-bottom: 5px solid #022f55;
    cursor: context-menu;
}

.mini-container-container {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--cor1);
}

.mini-container-container .mini-container:nth-child(even) {
    margin-top: 10px;
}

.mini-container {
    width: 100%;
    height: fit-content;
    background-color: #385073;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.mini-container .mapa-info {
    height: 100px;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
}

.mini-container .mapa-info #mapa-name {
    font-size: 20px;
}

.mini-container .mapa-info #mapa-artist {
    font-size: 15px;
}

.mini-container .mapa-info #mapa-creator {
    font-size: 12px;
}

.mini-container img {
    width: 100px;
    border-radius: 5px;
}

.mini-container .mapa-main-info {
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    font-size: 17px;
}

.mini-container .mapa-main-info div span:nth-child(even) {
    font-weight: 600;
}


.mini-container .mapa-info-diff div span {
    font-size: 13px;
}

.mini-container .mapa-info-diff .mapa-info-diff-label {
    font-weight: 600;
    font-size: 18px;
}

.mini-container .mapa-info-diff div span:nth-child(even) {
    font-weight: 600;
}

.mapa-list-table {
    margin-top: 20px;
    width: 99%;
    border-collapse: collapse;
}

.mapa-list-table tr {
    font-size: 12px;
}

.mapa-list-table tr:nth-child(even) {
    background-color: #213040;
}

.mapa-list-table .mapa-list-table-title th {
    color: white;
    padding-bottom: 5px;
}

.mapa-list-scores td {
    text-align: center;
    height: 25px;
}

.mapa-list-scores td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mapa-list-scores td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mapa-list-scores .rank {
    font-weight: 600;
}

.mapa-list-scores .type {
    width: 50px;
}

.mini-container #types-of-diffs-container {
    width: 80%;
    height: fit-content;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.type-of-diff {
    width: 48%;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid white;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    background-color: rgba(0, 0, 0, 0);
}

.expertplus-button {
    border: 1px solid var(--expert-plus);
}

.expert-button {
    border: 1px solid var(--expert);
}

.hard-button {
    border: 1px solid var(--hard);
}

.normal-button {
    border: 1px solid var(--normal);
}

.easy-button {
    border: 1px solid var(--easy);
}

.type-of-diff.expertplus-button.can-select:hover {
    background-color: var(--expert-plus);
    cursor: pointer;
}

.type-of-diff.expert-button.can-select:hover {
    background-color: var(--expert);
    cursor: pointer;
}

.type-of-diff.hard-button.can-select:hover {
    background-color: var(--hard);
    cursor: pointer;
}

.type-of-diff.normal-button.can-select:hover {
    background-color: var(--normal);
    cursor: pointer;
}

.type-of-diff.easy-button.can-select:hover {
    background-color: var(--easy);
    cursor: pointer;
}

/* Fim Mapa */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* Inicio Perfil */
.perfil-banner {
    height: 100%;
    background-color: var(--fundo-tela);
    border-top: 4px solid white;
    flex-grow: 1;
}

.perfil-banner .pattern-dots-regular {
    height: auto;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.perfil-container {
    width: 100%;
    height: fit-content;
    background-color: var(--cor2);
    border-radius: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: black;
}

.player-header-container {
    width: 100%;
    height: 70px;
    background-color: var(--cor5);
    position: relative;
    display: flex;
    align-items: center
}

.player-header-container .fa-pen {
    position: absolute;
    bottom: 27%;
    right: -4%;
    background: var(--cor6);
    border-radius: 50%;
    padding: 5px;
    color: hsl(0deg 0% 100% / 60%);
    cursor: pointer;
}

.perfil-img {
    height: 110px;
    border-radius: 20px;
    transform: translateY(-30px);
    margin-left: 50px;
}

.player-header-container .player-name-container {
    color: white;
    margin-left: 20px;
    height: 100%;
    width: 20%;
    padding-top: 5px;
    box-sizing: border-box;
}

.player-name-container div:nth-child(1) {
    width: fit-content;
    position: relative;
}

.player-name-container div:nth-child(1) .fa-pen {
    position: absolute;
    bottom: 2%;
    right: -20%;
}

.player-name-container div:nth-child(2) {
    margin-left: 0;
}

.player-header-container .player-name-container .player-name {
    font-weight: 400;
    font-size: 24px;
}

.contry-name {
    font-size: 18px;
    margin-left: 10px;
}

.player-position-info {
    color: white;
    margin-left: 10px;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.global-container,
.nacional-container {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.nacional-container {
    margin-left: 20px;
}

.player-position-info #posicaoGlobal,
.player-position-info #posicaoNacional {
    font-size: 16px;
}

.hide-background-container {
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-background {
    top: 25%;
    height: 20px;
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: var(--cor6);
    cursor: pointer;
}

.position-info-chart-container {
    width: 97%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    background-color: var(--cor5);
    border-radius: 10px;
}

.position-info-chart-container .player-info {
    color: white;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: space-around
}


.player-info .player-info-label {
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
}

.player-info-label span {
    margin-top: 2px;
}

.position-chart {
    width: 60%;
    height: fit-content;
    padding: 20px 5px 20px 5px;
}

.round-border {
    background-color: #2d3e5f;
    height: auto;
    width: 4px;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
}

.labels-player {
    width: 100%;
    height: fit-content;
    display: flex;
    color: white;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    list-style: none;
}

.player-label {
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
}

.player-label-name {
    color: #9FB1CC;
}

.chosen {
    color: hsl(333, 40%, 100%);
}

.player-label-container {
    background-color: var(--cor5);
    width: 97%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    padding: 10px 0 10px 0;
}

.player-label-title-container {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-bottom: 2px solid #2d3e5f;
    padding: 0 2px 5px 2px;
    text-align: center
}

.player-label-title {
    color: white;
    font-weight: 600;
}

.editor-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck-editor__editable {
    min-height: 300px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused), .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    background-color: var(--cor6);
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
    justify-content: center;
}

.player-label-container#Classificacao_section,
.player-label-container#mapas-favoritos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scores-player-list, #scores-favorite-player-list {
    margin-top: 10px;
    width: 95%;
    height: 100%;
    list-style: none;
}

#scores-player-list li, #scores-favorite-player-list li {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

#scores-player-list li:not(:first-child), #scores-favorite-player-list li:not(:first-child) {
    margin-top: 10px;
}

#scores-player-list li img, #scores-favorite-player-list li img {
    height: 100px;
    position: relative;
}

.player-score-info-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.player-score-info {
    width: 92%;
    height: 100%;
    position: absolute;
    background-color: var(--cor6);
    right: 0;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    color: white;
    transition: width 1s ease;
}

.player-score-info-mapa-name {
    padding-left: 10px;
    height: 100%;
    width: 82%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    overflow: hidden;
}

.player-score-info-mapa-name div span:nth-child(2) {
    font-size: 14px;
}

.player-score-info-mapa-name div:nth-child(2) span:nth-child(1) {
    font-size: 12px;
}

.player-score-info-mapa-name div:nth-child(2) span:nth-child(2) {
    color: #4a93ff;
}

.player-score-info-score-info {
    height: 100%;
    width: 9%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.player-score-info div:nth-child(3) {
    border-left: 2px solid #4b668e;
    background-color: #344a6a;
}

#scores-player-list li:hover .player-score-info, #scores-favorite-player-list li:hover .player-score-info {
    background-color: #1f2d42;
    width: 95%;
}

#scores-player-list li:hover .player-score-info div:nth-child(3), #scores-favorite-player-list li:hover .player-score-info div:nth-child(3) {
    background-color: #3d557a;

}

.player-score-info div:nth-child(3).expertplus {
    border-left: 4px solid rgba(143, 72, 219);
}

.player-score-info div:nth-child(3).expert {
    border-left: 4px solid rgba(191, 42, 66);
}

.player-score-info div:nth-child(3).hard {
    border-left: 4px solid rgba(255, 99, 71);
}

.player-score-info div:nth-child(3).normal {
    border-left: 4px solid rgba(89, 176, 244);
}

.player-score-info div:nth-child(3).easy {
    border-left: 4px solid rgba(60, 180, 114);
}

.player-select-type-score {
    background-color: #1c293c;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 5px;
}

.player-select-type-score ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.player-select-type-score ul li {
    height: 90%;
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
}

.player-select-type-score ul li.selected {
    background-color: #314668;
}

.player-select-type-score ul li.selected:hover {
    cursor: auto;
}

.player-select-type-score ul li:hover {
    cursor: pointer;
    background-color: #314668;
}

/* Fim Perfil */
/* Inicio Pesquisar */


.page-type-search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.page-type-search-container div {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}


.page-type-search-container::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, transparent 25%, white 50%, transparent 75%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-type-search-container div div {
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.page-type-search-container div div:hover {
    border-bottom: 5px solid #022f55;
}

.page-type-search-container div div.selected {
    border-bottom: 5px solid #022f55;
    cursor: context-menu;
}

#search-list-container li.player-list-item {
    width: 35%;
    height: 180px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgba(50, 62, 72, 0);
    background: rgb(50, 62, 72);
    background: linear-gradient(145deg, rgba(50, 62, 72, 1) 59%, rgba(36, 43, 50, 1) 59%, rgba(36, 43, 50, 1) 75%, rgba(27, 33, 38, 1) 76%);
}

#search-list-container li.player-list-item:hover {
    border: 2px solid #4ad;
}

#search-list-container li.player-list-item div.player-info-container {
    width: 100%;
    /* overflow: hidden;    */
    height: 60%;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
}


#search-list-container li.player-list-item div.player-info {
    font-size: 20px;
    display: flex;
    width: 75%;
    flex-direction: column;
}

.player-info-container div.player-info {
    padding-left: 10px;
}

.player-info-container div.flag-country {
    width: 15%;
    margin-left: 0;
}

.player-info-container div div.flag-country img.emoji {
    width: 100%;
    border-radius: 5px;
}

.player-list-item div.player-other-info {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    padding-top: 5px;
}

.player-list-item div.player-other-info div:nth-child(2) {
    margin-left: 5px;
}

.player-other-info div {
    display: flex;
    flex-direction: column;
}



/* Fim Pesquisar */

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Inicio Modificar Barra */
::-webkit-scrollbar {
    width: 2px;
    background: #B6CBEA;
}

::-webkit-scrollbar-thumb {
    background: #567BB3;
}

/* Fim Modificar Barra */