@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #73717d;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

* {

    margin: 0;
    padding: 0;
    font-family: Torus,Inter,"Helvetica Neue",Tahoma,Arial,"Hiragino Kaku Gothic ProN",Meiryo,"Microsoft YaHei","Apple SD Gothic Neo",sans-serif;
}

input {
    box-sizing: border-box;
    border: 0;
}

/* Inicio Banner */
.img-container {
    width: 100%;
    height: 250px   ;
    overflow: hidden;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.background-image {
    width: 100vw;
}

.main-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    box-sizing: border-box;
    flex-grow: 1;
}

.welcome-msg-container {
    width: 80%;
    height: 100px;
    background-color: #171920;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.banner-img-container {
    width: 50%;
    height: 100%;
}

/* Fim Banner */
/* Login */
.login-main-banner {
    width: 100%;
    height: 100vh;
    background-color: #1f2229;
    display: flex;
}

.login-main-banner img {
    height: 100%;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: #171920;
    border-left: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: #1f2229;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.login-container span {
    color: white;
    font-weight: 500;
    font-size: 60px;
}

.login-container input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #2d3d5f;
    color: white;
    font-weight: 500;
    font-size: 20px;
    -webkit-appearance: none;
}

.login-container input:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

.login-input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.username-password-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.username-password-container label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.username-password-container input {
    font-weight: 700;
    text-indent: 40px;
}

.username-password-container i {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.username-password-container i.password {
    cursor: pointer;
}

.button-login {
    height: 60px;
    width: 40%;
    border-radius: 30px;
    background-color: #2d3d5f;
    border: 2px solid #212e48;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.button-login:hover {
    cursor: pointer;
}

/* Fim Login */
/* Inicio Perfil-Menu */
#perfil-menu {
    z-index: 4;
    height: -webkit-fill-available;
    width: 5vw;
    position: fixed;
    background-color: #11101c;
    border-right: 4px solid #2d3e5f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    transition: width 1s ease;
}

.menu-usuario {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    margin-top: 15px;
}

#perfil-menu:hover {
    width: 20vw;
}

/* Colocar hover */
#perfil-menu .menu-icon {
    font-size: 28px;
}

#search-user {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #414049;
    color: #7f7d88;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-user:focus {
    outline: none;
    border-bottom: 3px solid #212e48;
}

#search-user::placeholder {
    color: white;
    opacity: 0.5;
}

#perfil-menu .search-icon {
    font-size: 20px;
    position: absolute;
    top: 27px;
    left: 30px;
    color: #67666f;
    transition: left 1.2s ease;
    /*     transition-delay: 0.4s; */
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #484652;
    font-weight: bold;
    font-size: 18px;
}

.nav-bar-item {
    height: 40px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    color: #484652;
    cursor: pointer;
}

.nav-bar-item:hover {

    background-color: #1d1b2e;
}

.nav-bar-item i {
    margin-left: 15px;
}

.nav-bar-name,
.nav-bar-name-opacity {
    margin-left: 10px;
}

.nav-bar-name {
    width: 0px;
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .4s;
}

.nav-bar-name-opacity {
    width: fit-content;
    opacity: 1;
}

.here {
    color: #b4b2c4;
    cursor: default;
}

.user-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #73717d;
    font-weight: 500;
}

.user-container i:hover {
    cursor: pointer;
    background-color: #1d1b2e;
}

.user-container #userImg {
    height: 70%;
}

.user-container .user-info {
    width: 0%;
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .4s;
}

.user-container .user-info-show {
    width: 40%;
    opacity: 1;
}

.user-container #username {
    font-size: 18px;
    font-weight: 500;
}

.user-container i {
    font-size: 25px;
    padding: 10px;
}

.user-container #global,
.user-container #nacional {
    color: #b3afc7;
    font-size: 13px;
}
#logOut {
    color: #9b2525;
}

/* Fim Perfil-Menu */
/* Inicio Mapa  */
.mapa-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.container {
    list-style: none;
    width: 700px;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}

.mapa-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: white;
    font-size: 25px;
}

.mapa-creator-name-container {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.mapa-name-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    margin-left: 20px;
}

.mapa-creator {
    font-size: 20px;
}

.mapa-name {
    font-size: 30px;
}

.mapa-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow: hidden;
    top: 0;
}

.mapa-img {
    filter: blur(0.2rem);
    width: 100%;
    transform: translateY(-100px);
}

.mapa-plays-container {
    white-space: nowrap;
    text-align: center;
    justify-items: center;
    overflow: hidden;
    background-color: #50586a;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mapa-plays {
    font-size: 20px;
}

.mapa-container {
    position: relative;
    height: 80px;
    width: 90%;
    border-right: 6px solid purple;
    cursor: pointer;
    text-shadow:
                -2px -2px 0 #000,
                0 -2px 0 #000,
                2px -2px 0 #000,
                2px 0 0 #000,
                2px 2px 0 #000,
                0 2px 0 #000,
                -2px 2px 0 #000,
                -2px 0 0 #000;
}

.mapa td {
    color: white;
    font-weight: 800;
}

/* Fim Mapa */
/* Inicio Procurar Mapa */
.search-mapa {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-mapa {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #414049;
    color: #7f7d88;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-mapa:focus {
    outline: none;
}

.search-mapa-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

/* Fim Procurar Mapa */
/* Inicio Ranking */
.ranking-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}

.ranking-table {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}

.ranking-table-title {
    padding: 10px;
    width: fit-content;
    height: auto;
    color: white;
    font-size: 25px;
}

.player-container {
    position: relative;
    height: 46px;
    width: 100%;
    cursor: pointer;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/bceb8037-32e8-40d7-823e-4236ffb26d2f-profile_banner-480.jpeg");
    background-color: #cccccc;
    border-radius: 30px;
    text-shadow:
                -2px -2px 0 #000,
                0 -2px 0 #000,
                2px -2px 0 #000,
                2px 0 0 #000,
                2px 2px 0 #000,
                0 2px 0 #000,
                -2px 2px 0 #000,
                -2px 0 0 #000;
    color: white;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.ranking-table .player-info {
    font-size: 25px;
    width: 100px;
    width: 31%;
    height: 100%;
}

.ranking-table .player-info div {
    display: flex;
    align-items: center;
}

.ranking-table .player-info img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ranking-table .player-info span {
    margin-left: 10px;
}

.ranking-table .position-global {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    width: 10%;
    height: 100%;
}

.ranking-table .scores {
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}

.ranking-table .precisao {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    text-align: center;
    vertical-align: inherit;
}
.ranking-table .scores, .ranking-table .precisao, .ranking-table .position-global {
    font-size: 20px;
}

.search-player {
    list-style: none;
    width: fit-content;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-player {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #414049;
    color: #7f7d88;
    font-weight: 900;
    font-size: 17px;
    text-indent: 40px;
}

#search-player:focus {
    outline: none;
}

.search-player-icon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: #67666f;
}

/* Fim Ranking */
/* Inicio Perfil */
.perfil-banner {
    height: 100%;
    background-color: #1f2229;
    border-top: 4px solid #2d3e5f;
    padding: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-grow: 1;
}
.perfil-container {
    width: 80%;
    height: fit-content;
    background-color: #171920;
    border-radius: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.player-info-container {
    width: 100%;
    height: 70px;
    background-color: #262935;
    position: relative;
    display: flex;
    align-items: center
}

.perfil-img {
    height: 110px;
    border-radius: 40px;
    transform: translateY(-30px);
    margin-left: 50px;
}

.player-info-container .player-info {
    color: white;
    margin-left: 20px;
}

.player-info-container .player-info .player-name {
    font-weight: 400;
    font-size: 24px;
}
#flag-country {
    display: flex;
    align-items: center
}

img.emoji {
    width: 30px;
 }

 .contry-name {
     font-size: 18px;
     margin-left: 10px;
 }

.hide-background-container {
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-background {
    top: 25%;
    height: 20px;
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: #212e48;
}

.position-chart-container {
    width: 95%;
    height: fit-content;
    margin-top: 40px;
    background-color: #262935;
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
}

.labels-player {
    width: 100%;
    height: fit-content;
    display: flex;
    color: #2d3e5f;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    list-style: none;
}

.chosen {
    color: hsl(333,40%,100%);
}

.player-label {
    margin-left: 30px;
    font-weight: 900;
    font-size: 15px;
}

.player-label-container {
    background-color: #262935;
    width: 97%;
    height: 200px;
    border-radius: 10px;
}

.player-label-title-container {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-bottom: 2px solid #2d3e5f;
    margin-left: 20px;
    padding: 0 2px 5px 2px;
    text-align: center
}

.player-label-title {
    color: white;
    font-weight: 600;
}

/* Fim Perfil */